<script src="/js/jquery.js"></script>

<% if @user_info != nil %>
    <%= @user_info['useralias'] %>
    <div id="user_account"><form action="/user"><input type="submit" value="User Account"></form></div>
    <div id="loginlogout_button">
    <%= '<form action="/logout"><input type="submit" value="Logout"></form>' %>
    </div>
<% else %>
    <div id="loginlogout_button">
    <%= '<form action="/login"><input type="submit" value="Login"></form>' %>
    </div>
<% end %>

<img src="<%= @comparison_picture1.url  %>" onclick="votepicture(<%=@comparison_picture1.id%>, <%=@comparison_picture2.id%>, '<%=@comparison_instance.instancehash%>')" height="200" width="200">
<img src="<%= @comparison_picture2.url  %>" onclick="votepicture(<%=@comparison_picture2.id%>, <%=@comparison_picture1.id%>, '<%=@comparison_instance.instancehash%>')" height="200" width="200">




<script>
    function votepicture(upvote_id, downvote_id, instancehash){
        $.ajax({
            type: "POST",
            url: "/votepicture",
            data: "&upvote=" + upvote_id + "&downvote=" + downvote_id + "&instancehash=" + instancehash,
            success: function(result){
                console.log(result);
                alert(result);
                window.location.assign("/");
            }
        });
    }
</script>